@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.3rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 84% 60%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	button:active {
		@apply scale-98 transition-all;
	}

	::-webkit-scrollbar {
		@apply h-full w-3 border-l border-l-transparent p-px;
	}

	::-webkit-scrollbar-track {
		@apply !bg-transparent pr-4;
	}
	::-webkit-scrollbar-thumb {
		@apply relative rounded-sm !bg-border;
	}

	::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}

	@media (prefers-reduced-motion: no-preference) {
		:root::view-transition-old(root) {
			animation:
				90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
				300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
		}

		:root::view-transition-new(root) {
			animation:
				210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
				300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
		}
	}
}

.app-name {
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke: 6px hsl(var(--primary));
}

/* @font-face {
	font-display: swap; 
	font-family: 'ISOCPEUR';
	font-style: normal;
	font-weight: normal;
	src: url('./lib/fonts/isocpeur.ttf') format('ttf');
} */

@font-face {
	font-family: 'ISOCPEUR';
	src: url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.eot');
	src:
		url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.eot?#iefix')
			format('embedded-opentype'),
		url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.woff') format('woff'),
		url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.woff2') format('woff2'),
		url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.ttf') format('truetype'),
		url('./lib/fonts/isocpeur/4b5ae315f5df148f0ab479a7cedc9832.svg#ISOCPEUR') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Verdana';
	font-weight: normal;
	font-style: normal;
	src: url('./lib/fonts/verdana.ttf') format('ttf');
}

.verdana {
	font-family: 'Verdana', system-ui, sans-serif;
}

.isocpeur {
	font-family: 'ISOCPEUR', system-ui, sans-serif;
}

.default {
	font-family: sans-serif;
}
